@model IEnumerable<DongHo.Models.NhaSX>

@{
    ViewBag.Title = "NhaSX";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h2>NhaSX</h2>

<p>
    @Html.ActionLink("Thêm", "ThemNhaSX")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tennsx)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tennsx)
        </td>
        <td>
            @Html.ActionLink("Edit", "SuaNhaSX", new { id=item.Mansx }) |
            @Html.ActionLink("Delete", "XoaNhaSX", new { id = item.Mansx })
        </td>
    </tr>
}

</table>
