

@using DongHo.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="content_top">
    <div class="heading">
        <h3>New Products</h3>
    </div>
    <div class="see">
        <p><a href="@Url.Action("Sanpham","DongHo")">See all Products</a></p>
    </div>
    <div class="clear"></div>
</div>
@foreach (var dongho in Model)
{
    <div class="grid_1_of_4 images_1_of_4" >
        <a href="@Url.Action("Details", "DongHo", new {id= dongho.Masp })"><img src="~/images/@dongho.Anh" alt="@dongho.Tensp" height="212" /></a>
        <h2>@dongho.Tensp</h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">@String.Format("{0:0,0 đ}", @dongho.Gia)</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="@Url.Action("Themgiohang", "GioHang", new { @iMasp = dongho.Masp, @strURL = Request.Url.ToString()})">Add to Cart</a></h4>
            </div>
            <div class="clear"></div>
        </div>

    </div>
}


<style>
    .MenuTrang ul li{
        display:inline;
        text-decoration:none;
       
    }
</style>


<div class="cont-desc span_1_of_2">
    <div class="MenuTrang" style="display:inline">
        @*Tao lien ket den cac trang*@
        <ul>
            <li style="color:#c41e1e">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</li>
            <li style="border:0px solid black;">@Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @MaLoaiSP = ViewBag.MaLoaiSP }))</li>
        </ul>
    </div>
</div>

