@model IEnumerable<DongHo.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="content_top">
    <div class="heading">

        <h3>Theo Nhà Sản Xuất</h3>
    </div>

    <div class="clear"></div>
</div>

@foreach (var dongho in Model)
{
    <div class="grid_1_of_4 images_1_of_4" style=" margin: 7px 7px">
        <a href="@Url.Action("Details", "DongHo", new {id= dongho.Masp })"><img src="~/images/@dongho.Anh" alt="@dongho.Tensp" /></a>
        <h2>@dongho.Tensp</h2>
        <div class="price-details">
            <div class="price-number">
                <p><span class="rupees">@String.Format("{0:0,0 đ}", @dongho.Gia)</span></p>
            </div>
            <div class="add-cart">
                <h4><a href="@Url.Action("Themgiohang", "GioHang", new { @iMasp = @dongho.Masp, @strURL = Request.Url.ToString()})">Add to Cart</a></h4>
            </div>
            <div class="clear"></div>
        </div>

    </div>
}

