@model PagedList.IPagedList<Models.Framework.CHUONG>
@using PagedList.Mvc;
<link href="/Content/Chitiettruyen.css" rel="stylesheet" />
@{
    ViewBag.Title = "Chitiettruyen";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    var truyen = (Models.Framework.TRUYEN)ViewBag.truyen;
    var cungtacgia = (IEnumerable<Models.Framework.TRUYEN>)ViewBag.Cungtacgia;
    var theloai = (List<Models.ViewModel.TheloaitruyenViewModel>)ViewBag.theloai;
    int Page = (int)ViewBag.Page;
}



@using (Html.BeginForm())
{
    <br />
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Homeclient")">Trang chủ</a></li>
        <li><a href="@Url.Action("Timkiemtruyenabc","Timkiem")">Truyện chữ</a></li>
        <li class="active">@truyen.Tentruyen</li>

    </ol>
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <!--<div id="page-wrapper">-->
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <h1>                       <br />                                                    </h1>
                    <div class="bars"><p id="tieude" class="text-center">   »——(¯` THÔNG TIN TRUYỆN ´¯)——»</p></div>
                    <h6 class="text-center">¸.•♥•.¸¸.•♥•  (>‿◠)✌ •♥•.¸¸.•♥•.¸</h6>
                </div>
            </div>
        </div>
        <!--==========================================================-->
        <div class="row">
            <div class="col-lg-9">
                <div class="container">
                    <div class="heading bars text-center">
                        <!--Tên truyện-->

                        <p id="tentruyentieude">
                            <span style="font-family: Arial; font-size: 200%;color:dodgerblue; font:bold ">

                                @truyen.Tentruyen
                                <br /> <br />
                            </span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="container col-lg-12">                   
                        <div class="col-lg-3 col-md-12">
                            <div class="row">
                                <div id="anhct" class="img-responsive">
                                    <!--Ảnh-->
                                    <img id="Anhbiact" style="cursor:auto" src="@truyen.Anhbia" width="250" />

                                </div>                                
                                    <div>
                                        <!--Thông tin cơ bản-->
                                        <p>
                                            <br />
                                            <div class="fb-like text-center" expr:data-href='data:post.url' data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                                            <br />
                                            <span style="font-family:Arial; color:gray ">
                                                <br />
                                                Tác giả:  <a href="@Url.Action("Timkiemtruyentacgia","Timkiem",new { tg = @truyen.Tacgia })"><span style="color:dimgray"><strong>@truyen.Tacgia</strong></span></a>
                                                <br />
                                                Tình trạng:  @truyen.Tinhtrang
                                                <br />
                                                Số chương:  @truyen.Sochuong
                                                <br />
                                                Nguồn:  @truyen.Nguon
                                                <br />
                                                @truyen.Solandoc  lượt xem
                                                <br />Thể loại:
                                                @{ int i = 0;}
                                                @foreach (var item in theloai)
                                                {
                                                    if (i < theloai.Count - 1)
                                                    {
                                                        <a href="@Url.Action("Timkiemtheloai","Timkiem",new { id= @item.Matheloai})">
                                                            <span style="color:dimgray"><strong>  @item.Tentheloai,  </strong></span></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Timkiemtheloai","Timkiem",new { id= @item.Matheloai})">
                                                            <span style="color:dimgray"><strong>  @item.Tentheloai  </strong></span></a>

                                                    }
                                                    i++;

                                                }
                                            </span>
                                            <br /><br />
                                        </p>
                                        
                                        

                                    </div>                             
                                
                                        <div>
                                            <!--Partial thể loại-->
                                        </div>                                    
                            </div> 
                        </div>
                    
                        <div>
                                                           
                                <div>
                                    <div>
                                        
                                            <!--văn án-->
                                            <span style="font-family: Arial; font-size: 28px;color:dimgray ">
                                                   Giới thiệu truyện: <br /><br />
                                                </span>
                                        <div class="mota">
                                           
                                                <span style="font-family:Arial; color:gray ">
                                                    @Html.Raw(truyen.Mota)

                                                </span>
                                           
                                        </div>
                                    </div>
                                </div>

                            
                        </div>
                   
                </div>
            </div>
        </div>
        <!--===========================================================-->
        <!--=============================================-->
        <div class="container">
            <div class="products-page">

                <div class="new-product">
                   
                    <!---------------------------->
                    <div>
                        <h3 class="first"><p><span style="font-family: Arial; font-size: 28px;color:dimgray "><br />Danh mục chương</span></p></h3>
                        <div class="mota">
                            <table class="table table-hover">
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.Machuong" class="odd gradeX">
                                            @*<td class="text-center">@item.Machuong</td>*@
                                            <td class="text-center"><span style="font-family:Arial;color:darkgray ">@item.Thutuchuong</span></td>
                                            <td>
                                                <a href="@Url.Action("Docchuong","Doctruyen",new { id = @item.Machuong })">
                                                    <p><span style="font-family:Arial; color:darkgray ">@item.Tenchuong</span></p>
                                                </a>

                                            </td>
                                            <td class="text-center"><span style="color:darkgray ">@item.Capnhatchuong</span></td>
                                        </tr>

                                    }


                                </tbody>
                            </table>

                            @Html.PagedListPager(Model, page => Url.Action("Chitiettruyen", new { id = @truyen.Matruyen, page }))
                            <div class="clearfix"></div>
                        </div>
                        <h3 class="first"><p><span style="font-family: Arial; font-size: 28px;color:dimgray "><br />Bình luận</span></p></h3>
                        <div class="">
                            <table class="table">
                                <tbody>
                                    <tr class="text-center odd gradeX"><td></td></tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="text-center">
                            <div class="fb-comments" expr:data-href='data:post.url' data-width="100%" data-numposts="5"></div>
                        </div>



                    </div>




                        <!------------------------>

                        <script src="/Assets/Client/js/cbpViewModeSwitch.js" type="text/javascript"></script>
                        <script src="/Assets/Client/js/classie.js" type="text/javascript"></script>
                    </div>
                <div class="products">                   
                    
                    <div class="tags">
                        <h4>Cùng tác giả</h4>
                        <ul class="tags_links"></ul>
                        <div class="bs-example">
                            <table class="table">
                                <tbody>
                                    @foreach (var item in cungtacgia)
                                    {
                                        <tr>
                                            <td class="type-info">
                                                <p><a href="@Url.Action("Chitiettruyen", "Doctruyen", new { id = @item.Matruyen })"><span id="p" style="font-family:Calibri; color:sienna;font-size:16px;"><strong>&nbsp;@item.Tentruyen</strong></span></a></p>
                                                <p>
                                                    @*✎&nbsp;&nbsp;@item.Tacgia<br />*@
                                                    ღ&nbsp;&nbsp;@item.Sochuong &nbsp;chương<br />
                                                </p>
                                            </td>


                                        </tr>

                                    }
                                    <tr>
                                        <td class="type-info">
                                            <a href="@Url.Action("Timkiemtruyentacgia","Timkiem",new { tg = @truyen.Tacgia })"><span style="color:dimgray"><strong>Xem thêm</strong></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    


                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- content-section-ends -->
        <!--========================================-->


       
     
      
    </div>


}
@section Facebook
{


    
     }
<style>

</style>
