
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Truyện Chữ Online</title>
    <link href="/Assets/Client/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Assets/Client/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/Assets/Client/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Eshop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="/Assets/Client/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- cart -->
    <script src="/Assets/Client/js/simpleCart.min.js"> </script>
    <!-- cart -->
    <link rel="stylesheet" href="/Assets/Client/css/flexslider.css" type="text/css" media="screen" />
    <!--style anh tim kiem-->
    <!--TIM KIEM-->
    <style>
        #searchbox {
            /*background: url(2.bp.blogspot.com/-Un3z-hkw1XA/VD0V9GO8zrI/AAAAAAAAAf0/ww_5VsvWayY/s1600/search-box1.png) no-repeat;*/
            background: url(/Assets/Client/images/search-box1.png) no-repeat;
            /*background-image: url('../..');*/
            width: 250px;
            height: 65px;
        }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

        input:focus:-moz-placeholder {
            color: transparent;
        }

        input:focus::-moz-placeholder {
            color: transparent;
        }

        #searchbox input {
            outline: none;
        }

            #searchbox input[type="text"] {
                background: transparent;
                padding: 5px 0px 5px 20px;
                margin: 10px 15px 0px 0px;
                border-width: 0px;
                font-family: "Brush Script MT", cursive;
                font-size: 12px;
                color: #595959;
                width: 65%;
                font-weight: bold;
                display: inline-table;
                vertical-align: top;
            }

        #button-submit {
            /*background: url(http:/1.bp.blogspot.com/-zyJC7B-dSaU/VDv8-68fNJI/AAAAAAAAAe0/pkUajFr2kcQ/s1600/magnifier.png) no-repeat;*/
            background: url(/Assets/Client/images/magnifier.png) no-repeat;
            /*background-image: url('../../Assets/Client/images/magnifier.png');*/
            border-width: 0px;
            cursor: pointer;
            margin-top: 10px;
            width: 19px;
            height: 25px;
        }

            #button-submit:hover {
                /*background: url(http:/1.bp.blogspot.com/-pIwlQno5_6U/VDxR9OdzvYI/AAAAAAAAAfM/YDBC2P705tc/s1600/magnifier-hover.png) no-repeat;
                                     background-image: url('../../Assets/Client/images/magnifier-hover.png');*/
                background: url(/Assets/Client/images/magnifier-hover.png) no-repeat;
            }

            #button-submit:active {
                /*background: url(http:1.bp.blogspot.com/-pIwlQno5_6U/VDxR9OdzvYI/AAAAAAAAAfM/YDBC2P705tc/s1600/magnifier-hover.png) no-repeat;*/
                background: url(/Assets/Client/images/magnifier-hover.png) no-repeat;
                outline: none;
            }

            #button-submit::-moz-focus-inner {
                border: 0;
            }
    </style>


    
</head>
<body>

    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=561918710678493";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- header-section-starts -->
    <div class="header">
        <div class="header-top-strip">
            <div class="container">
                <div class="header-top-left">
                    @*<ul>
                        <li><a href="account.html"><span class="glyphicon glyphicon-user"> </span>Login</a></li>
                        <li><a href="register.html"><span class="glyphicon glyphicon-lock"> </span>Create an Account</a></li>
                    </ul>*@
                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        @*<a href="checkout.html">
                            <h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)<img src="images/bag.png" alt=""></h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>*@
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- header-section-ends -->
    <div class="banner-top">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <h1><a href="/HomeClient/Index"><span>T</span>ruyện Chữ Online</a></h1>
                    </div>
                </div>
                <!--/.navbar-header-->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/HomeClient/Index">Trang chủ</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thể loại<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-1">
                                @Html.Action("_TheloaiPartial","HomeClient")
                                
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Danh sách<b class="caret"></b></a>
                            @*<ul class="dropdown-menu multi-column columns-1 text-center">
                                <li><a href="@Url.Action("Timkiemtruyenabc","Timkiem")">Tất cả truyện</a></li>
                                <li><a href="@Url.Action("Timkiemtruyenmoi","Timkiem")">Truyện mới</a></li>
                                <li><a href="@Url.Action("Timkiemtruyenhot","Timkiem")">Truyện xem nhiều</a></li>

                            </ul>*@
                            <ul class="dropdown-menu multi-column columns-2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                            <h6>Truyện chữ</h6>
                                            <li><a href="@Url.Action("Timkiemtruyenabc","Timkiem")">Tất cả truyện</a></li>
                                            <li><a href="@Url.Action("Timkiemtruyenmoi","Timkiem")">Truyện mới</a></li>
                                            <li><a href="@Url.Action("Timkiemtruyenhot","Timkiem")">Truyện xem nhiều</a></li>
                                            <h6>Loại truyện</h6>
                                            @Html.Action("LoaitruyenPartial", "HomeClient")
                                        </ul>
                                    </div>
                                   
                                    <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                            <h6>Truyện khác</h6>
                                            <li><a href="@Url.Action("Timkiemtruyenaudio","Timkiem")">Truyện audio</a></li>
                                            <li><a href="@Url.Action("Timkiemtruyentranh","Timkiem")">Truyện tranh</a></li>

                                        </ul>

                                        <div class="clearfix"></div>
                                    </div>
                            </ul>
                        </li>
                        <!--ô tìm kiếm-->
                        

                        <li>


                          @*@using (Html.BeginForm("Timkiemtukhoa", "Timkiem"))

                          {*@


                                <div class="text-center">
                                    <form id="searchbox" method="get" action="/Timkiem/Timkiemtukhoa" autocomplete="on">

   
                                     <input class="textarea" id="keytimkiem" name="q" type="text" size="15" placeholder="Tìm kiếm..." />

                                    <input id="button-submit" type="submit" value="" />
   
                                    </form>
                                </div>
                         






                        </li>











                        <!--//ô tim kiem-->




                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">women <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>NEW IN</h6>
                                            <li><a href="products.html">New In Clothing</a></li>
                                            <li><a href="products.html">New In Bags</a></li>
                                            <li><a href="products.html">New In Shoes</a></li>
                                            <li><a href="products.html">New In Watches</a></li>
                                            <li><a href="products.html">New In Beauty</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>CLOTHING</h6>
                                            <li><a href="products.html">Polos & Tees</a></li>
                                            <li><a href="products.html">Casual Shirts</a></li>
                                            <li><a href="products.html">Casual Trousers</a></li>
                                            <li><a href="products.html">Jeans</a></li>
                                            <li><a href="products.html">Shorts & 3/4th</a></li>
                                            <li><a href="products.html">Formal Shirts</a></li>
                                            <li><a href="products.html">Formal Trousers</a></li>
                                            <li><a href="products.html">Suits & Blazers</a></li>
                                            <li><a href="products.html">Track Wear</a></li>
                                            <li><a href="products.html">Inner Wear</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>WATCHES</h6>
                                            <li><a href="products.html">Analog</a></li>
                                            <li><a href="products.html">Chronograph</a></li>
                                            <li><a href="products.html">Digital</a></li>
                                            <li><a href="products.html">Watch Cases</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>*@
                        @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">kids <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-2">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                            <h6>NEW IN</h6>
                                            <li><a href="products.html">New In Boys Clothing</a></li>
                                            <li><a href="products.html">New In Girls Clothing</a></li>
                                            <li><a href="products.html">New In Boys Shoes</a></li>
                                            <li><a href="products.html">New In Girls Shoes</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-6">
                                        <ul class="multi-column-dropdown">
                                            <h6>ACCESSORIES</h6>
                                            <li><a href="products.html">Bags</a></li>
                                            <li><a href="products.html">Watches</a></li>
                                            <li><a href="products.html">Sun Glasses</a></li>
                                            <li><a href="products.html">Jewellery</a></li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </ul>
                        </li>*@
                        <!--<li><a href="typography.html">Truyện mới</a></li>-->
                        <!--<li><a href="typography.html">Truyện hot</a></li>-->
                        @*<li><a href="@Url.Action("Timkiemtruyenaudio","Timkiem")">Truyện Audio</a></li>*@


                    </ul>
                </div>


                <!--/.navbar-collapse-->
            </nav>


            <!--/.navbar-->
        </div>
    </div>


    
    @RenderSection("baner",required:false)

   

    <!-- content-section-starts-here -->
    <div class="container">
        @RenderBody()


    </div>
    @RenderSection("slide", required: false)

    <!-- content-section-ends-here -->
    <div class="news-letter">
        <div class="container text-center">


            @RenderSection("Facebook", required: false)


            @*<div class="join">
                <h6>JOIN OUR MAILING LIST</h6>
                <div class="sub-left-right">
                    <form>
                        <input type="text" value="Enter Your Email Here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Here';}" />
                        <input type="submit" value="SUBSCRIBE" />
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>*@
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer_top">
                <div class="">
                    <div class="col-md-6">
                        <h4>Truyện Chữ Online</h4>
                        <p><span style="font-family:Calibri;font-size:20px">
                            Tuyển tập các bộ truyện chữ hay nhất, cập nhật liên tục.<br />
                            Truyện audio mới lạ mang hơi thở cuộc sống hiện đại.<br />
                            Thế giới truyện tranh đa dạng sắc màu.
                        </span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h4>Tags</h4>
                        <ul class="tags_links">
                            <li><a href="@Url.Action("Timkiemtruyenaudio","Timkiem")">Truyện audio</a></li>
                            <li><a href="@Url.Action("Timkiemtruyentranh","Timkiem")">Truyện tranh</a></li>
                            <li><a href="/Timkiem/Timkiemtruyentacgia?tg=Nguyễn%20Nhật%20Ánh">Nguyễn Nhật Ánh</a></li>
                            <li><a href="/Timkiem/Timkiemtruyentacgia?tg=Sói%20Xám%20Mọc%20Cánh">Sói Xám Mọc Cánh</a></li>
                            <li><a href="/Timkiem/Timkiemtruyentacgia?tg=Cố%20Mạn">Cố Mạn</a></li>
                            <li><a href="/Timkiem/Timkiemtruyentacgia?tg=Tân%20Di%20Ổ">Tân Di Ổ</a></li>
                            <li><a href="/Doctruyen/Chitiettruyen/5">Tôi thấy hoa vàng trên cỏ xanh</a></li>
                            <li><a href="/Timkiem/Timkiemtheloai/1">Học đường</a></li>
                            <li><a href="/Doctruyen/Chitiettruyen/1023">Hãy tìm tôi giữa cánh đồng</a></li>
                            <li><a href="/Doctruyen/Chitiettruyen/1030">Hóa ra anh vẫn ở đây </a></li>
                            <li><a href="/Doctruyen/Chitiettruyen/24">Người phiên dịch</a></li>
                            <li><a href="/Doctruyen/Nghetruyenaudio/3">Người bí hiểm</a></li>
                            <li><a href="/Doctruyen/Nghetruyenaudio/1">Nơi góc nhỏ trái tim</a></li>
                            <li><a href="/Doctruyen/Nghetruyenaudio/5">Ừ thì tớ sẽ ra đi</a></li>
                            <li><a href="/Timkiem/Timkiemtheloai/4">Tình yêu</a></li>

                        </ul>

                    </div>


                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="copyright text-center">

            </div>
        </div>
    </div>
</body>
</html>
