@using DongHo.Models;
@model DonHang

@{
    ViewBag.Title = "DuyetDonHang";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

<h2>Thông tin don hàng <font color="#f65e84">@Model.KhachHang.Tenkh</font></h2>
<br /><br />

@using (Html.BeginForm())
{
    <div class="ChiTietDonHang table">
        @{IEnumerable<ChiTietDonHang> lstChiTietDH = (IEnumerable<ChiTietDonHang>)ViewBag.ListChiTietDH;}
        <table class="table" id="table">
            @*Ph?n thông tin don hàng*@
            <tr>
                <td colspan="4">
                    <table style="width:100%;">
                        <tr>
                            <td>Mă don hàng: <b style="color:red;"> @Model.Madh @Html.Hidden("Madh", @Model.Madh)</b></td>
                            <td>Mă khách hàng: <b style="color:red;"> @Model.KhachHang.Makh</b></td>
                            <td>Tên khách hàng: <b style="color:red;"> @Model.KhachHang.Tenkh</b></td>
                            <td>Ngày đặt: @Model.Ngaydat.Value.ToString("dd/MM/yyyy")</td>
                            <td>Đă thanh toán: @Html.EditorFor(model => model.Thanhtoan)</td>
                            <td>Đă giao: @Html.EditorFor(model => model.Tinhtrang)</td>
                        </tr>
                    </table>

                </td>
            </tr>



            @*Thông tin chi ti?t don hàng*@


            <tr>
                <td><b>Sản phẩm</b></td>
                <td><b>Hình ảnh</b></td>
                <td><b>Số lượng đặt</b></td>
                <td><b>Đon giá đặt</b></td>
            </tr>

            @foreach (var item in lstChiTietDH)
            {
                <tr>
                    <td>@item.SanPham.Tensp</td>
                    <td><img width="150" height="150" src="@Url.Content("~/images/"+item.SanPham.Anh)" /></td>
                    <td>@item.Soluong</td>
                    <td>@item.Dongia</td>
                </tr>
            }
            @*<tr>
                    <td align="right" colspan="4">T?ng s? lu?ng: @Model.ChiTietDonDatHangs.Sum(n =>n.SoLuong)s?n ph?m</td>
                </tr>
                <tr>
                    <td align="right" colspan="4">T?ng ti?n: @Model.ChiTietDonDatHangs.Sum(n => n.SanPham.DonGia).Value.ToString("#,##") d?ng</td>
                </tr>*@
        </table>
        <br /><br />
        <input type="button" value="In đơn hàng" id="btnInDonHang" />
        <input type="submit" value="Luu lưu hàng" id="btnInDonHang" />
    </div>
}

<script>

    $("#btnInDonHang").click(function () {
        var content = "<table>" + $("#table").html() + "</table>";
        InDonHang(content);
    });

    //Phuong th?c in
    function InDonHang(content) {
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(content);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
    }

</script>

