@model PagedList.IPagedList<Models.Framework.CHUONG>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin2.cshtml";
    var truyen = (Models.Framework.TRUYEN)ViewBag.truyen;
    var theloai = (List<Models.ViewModel.TheloaitruyenViewModel>)ViewBag.theloai;
    int Page = (int)ViewBag.Page;
}
@section header{
    Chi tiết truyện
}


@using (Html.BeginForm("Details","Truyen", FormMethod.Get))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        <!--<div id="page-wrapper">-->
        <div class="row">
            <div class="col-lg-12">
                

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-footer">
                        <h1>
                            <strong>
                                @truyen.Tentruyen
                            </strong>
                        </h1>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-2">
                            <div>
                                <img style="cursor:auto" src="@truyen.Anhbia" width="200" />
                            </div>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-3">
                            <span style="font-family: Arial; font-size: 18px">                               
                                   Tác giả: 
                                    <strong>@truyen.Tacgia</strong> <br />             
                                    Số chương: 
                                    <strong>
                                       @truyen.Sochuong
                                    </strong>  <br />                              
                                   Nguồn: 
                                   
                                        @truyen.Nguon
                                          <br />                    
                                    Tình trạng:                               
                                        @truyen.Tinhtrang
                                           <br/>                   
                                    <strong>
                                       @truyen.Solandoc
                                    </strong>
                                   lượt xem <br />                       
                                   Cập nhật:                                     
                                        @truyen.Ngaycapnhat
                                   <br/>Thể loại: 
                                  @foreach (var item in theloai)
                                  {<strong>  @item.Tentheloai,  </strong>
                                  }



</span>


</div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-7">  
                            <p>
                                <span style="font-family: Arial; font-size: 20px">
                                    <strong>Giơi thiệu truyện: <br /></strong>
                                   @Html.Raw(truyen.Mota)
                                </span>
                            </p>
                            
                           
                                <!-- /.col-lg-4 -->
</div>
                    </div>
                    <div class="panel-footer text-center">
                    
                            @*<input type="button" id="them" value="Thêm chương mới" class="btn btn-outline btn-success" onclick="window.open('/Admin/Chuong/Create/@truyen.Matruyen')">*@
                        <input type="button" id="quaylai" value="<< Về lại danh sách truyện" class="btn btn-outline btn-info" onclick="window.open('/Admin/Truyen/Index', '_self')">
                        <input type="button" id="themmoi" value="Đến chỉnh sửa thể loại >>" class="btn btn-outline btn-info" onclick="window.open('/Admin/Theloaitruyen/Index/@truyen.Matruyen', '_self')">
                     </div>
                    
                </div>

            </div>
           
            
        </div>
        <!-- /.row -->
      
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">

                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!--Html.Action("ChuongtrongtruyenPartial", "Chuong", new { id = truyen.Matruyen, Page=Page })-->
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th class="text-center">Mã</th>
                                    <th class="text-center">Chương</th>
                                    <th class="text-center">Tên chương</th>
                                    <th class="text-center">Cập nhật chương</th>
                                    <th class="text-center">#</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="row_@item.Machuong" class="odd gradeX">
                                        <td class="text-center">@item.Machuong</td>
                                        <td class="text-center">@item.Thutuchuong</td>
                                        <td class="text-center">@item.Tenchuong</td>
                                        <td class="text-center">@item.Capnhatchuong</td>

                                        <td class="text-center">
                                            <div>
                                                <a href="/Admin/Chuong/Edit/@item.Machuong">Sửa</a>
                                                |
                                                @Ajax.ActionLink("Xóa", "Delete", new { @id = @item.Machuong }, new AjaxOptions
                   {
                       Confirm = "Bạn có muốn xóa bản ghi này?",
                       OnComplete = "$('#row_" + @item.Machuong + "').remove()",
                       HttpMethod = "Delete"
                   })
                                            </div>
                                            <div></div>

                                        </td>

                                    </tr>
                                }



                            </tbody>
                        </table>

                        @Html.PagedListPager(Model, page => Url.Action("Details", new { id = @truyen.Matruyen, page }))
                        <!-- /.table-responsive -->
                        <input type="button" id="them" value="Thêm chương mới" class="btn btn-outline btn-success" onclick="window.open('/Admin/Chuong/Create/@truyen.Matruyen', '_self')">

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->        
        
        </div>
}






