@using DongHo.Models; 
@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="content_top">
    <div>
        <h3 style="text-align:center;color:#d31313;">Giỏ Hàng</h3>
    </div>

    <div class="clear"></div>
</div>
<div class="content" style="text-align: -webkit-center" >
    <table align="center" style="border:1px solid #000000" >
        <tr style="text-align: center; font-weight: bold; border: 1px solid #000000">
            <td style="border: 1px solid #000000">Mã</td>
            <td style="border: 1px solid #000000">Tên ĐH</td>
            <td style="border: 1px solid #000000">Hình</td>
            <td style="border: 1px solid #000000">SL</td>
            <td style="border: 1px solid #000000">Đơn giá</td>
            <td style ="border: 1px solid #000000">Thành tiền</td>
            <td style="border: 1px solid #000000"></td>
            <td style="border: 1px solid #000000"></td>
            <td style="border: 1px solid #000000"></td>
        </tr>
        @foreach (var dongho in Model)
        {
        <tr style="text-align: center; font-weight: bold; border: 1px solid #000000">
            <td style="border: 1px solid #000000">@dongho.iMasp</td>
            <td style="border: 1px solid #000000">@dongho.sTensp</td>
            <td style="border: 1px solid #000000"><img src="~/images/@dongho.sAnh" style="width:50px; height:50px;"></td>
            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMasp=dongho.iMasp}))
            { 
                
                <td style="border: 1px solid #000000;">
                    <input type="number" min="1" name="txtSoluong" value="@dongho.iSoluong" style="background-color: #bdb9b9; width:35px;" />
                </td>
                <td style="border: 1px solid #000000">@String.Format("{0:0,0}", dongho.dDongia)</td>
                <td style="border: 1px solid #000000">@String.Format("{0:0,0}", dongho.dThanhtien)</td>
                <td style="border: 1px solid #000000"><a href="@Url.Action("Details","DongHo",new {id= dongho.iMasp})">Xem</a></td>
                <td style="border: 1px solid #000000">@Html.ActionLink("Xóa", "XoaGioHang", new { @iMasp = dongho.iMasp })</td>
                <td style="border: 1px solid #000000 ;overflow:hidden;"><input type="submit"  ></td>
            }
        </tr>
        }
        <tr style="text-align:right;color:red">
            <td colspan="4" style="border: 1px solid #000000">Số lượng sản phẩm: @ViewBag.Tongsoluong</td>
            <td colspan="5" style="border: 1px solid #000000">Tổng tiền: @String.Format("{0:0,0}", ViewBag.Tongtien)Đ;</td>
        </tr>
        <tr style="text-align:right;color:blue;">
            <td colspan="9" style="border: 1px solid #000000">@Html.ActionLink("Xóa giỏ hàng","XoaTatCaGioHang")</td>
            
        </tr>
        <tr style="text-align:center;color:blue;">
            <td colspan="9" style="border: 1px solid #000000">@Html.ActionLink("Đặt Hàng", "DatHang")</td>

        </tr>
</table>
</div>
